/* You can add global styles to this file, and also import other style files */

@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/dark.css';
@import '~@swimlane/ngx-datatable/themes/material.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';
@import '~bootstrap/dist/css/bootstrap.css';
html {
    overflow: auto;
}

body {
    /* background-color: #151414; */
    background-color: #fff;
    /* color: #fff; */
}

body .overlay {
    z-index: 999 !important;
}

.theme-color {
    color: #0055A5 !important;
}

.custom-modal .modal-content {
    background-color: #fff;
    border: 1px solid white;
    /* color: #fff; */
}

.custom-modal .close {
    color: #fff;
    outline: 0;
}

.custom-modal .modal-header {
    background-color: #0055A5;
    color: #fff;
}

.submit-btn {
    background-color: #0055A5;
    color: #fff;
}

.custom-modal .overlay {
    z-index: 2000 !important;
}

.custom-modal .form-control {
    /* color: #fff; */
    background-color: #fff;
}

.ngx-datatable .datatable-body .datatable-body-row {
    cursor: pointer;
    border-bottom: 1px solid lightgray;
}

.ngx-datatable .datatable-body .datatable-body-row.active {
    background-color: transparent;
}

.ngx-datatable .datatable-footer,
.ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
    background-color: #0055a5;
    color: #fff;
}

.ngx-datatable .datatable-footer .datatable-pager li a {
    color: #fff !important;
}

.datatable-footer .page-count {
    display: none;
}

.custom-modal .modal-open {
    overflow: hidden;
    overflow-y: scroll;
    padding-right: 0 !important;
}

.alert {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 999 !important;
}